@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 Gill Sans,sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

/** SKIP LINKS **/

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  padding: 0.5em 0.75em;
  font-weight: bold;
}

.skip-links: focus {
  top:0;
}

.header {
	background-image: url(../imgs/skulls.png);
  overflow: hidden;
}

/** NAVIGATION **/
.nav-top ul { 
  list-style-type: none;
  padding: 0;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
  overflow: hidden;
	font-weight: 400;
	color: #F6891F;
	text-decoration: none;
}

.nav-top a:hover {
	color: #EFB47F;
	overflow: hidden;
}

/** HEADER **/
.logo-top img{
  height: 50px;
	width: 50px;
}

.billboard {
  margin: 0;
  padding: 0;
  position: relative;
}

.billboard-img {
  display: block;
  width: 100%;
}

.billboard figcaption {
  color: white;
  position: absolute;
  bottom: 0;
  font-style: italic;
  width: 100%;
}

/** MAIN **/
.headline {
	text-align: center;
	overflow: hidden;
}

.start-button {
	text-align: center;
}

.start-button button {
	background-color: white;
	border: .25em solid #F6891F;
	margin: 0;
	padding: 0;
}

.start-button a {
	margin: .75em;
	color: black;
	text-decoration: none;
}

.start-button a:hover {
	color: white;
}

.start-button button:hover {
	background-color: #EFB47F;
	overflow: hidden;
}

.feature-img {
	width: 100%;
}

/** FOOTER **/
.footer {
	background-color: #86BFAB;
	overflow: hidden;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.nav-bottom {
	float: left;
}

.nav-bottom ul {
	list-style-type: none;
}

.nav-bottom a {
	text-decoration: none;
	color: white;
}

.logo-bottom img {
	float: right;
	height: 50px;
	width: 50px;
}

/** MEDIA QUERIES **/
@media only screen and (min-width: 25em) /** small starting @400px **/ {
  .nav-top {
    text-align: center;
  }


/**  .nav {
    text-align: center;
  }
  .nav li {
    display: inline;
  }
  .copyright {
    text-align: center;
  }
  .nav-footer {
    text-align: center;
  }
  .nav-footer li {
    display: inline;
  }
}
**/

@media only screen and (min-width: 38em) /** medium starting @ 608px **/{
  .nav-top {
    text-align: right;
    float: right;
  }

  .nav-top li {
    display: inline;
  }

  .nav-bottom {
		display: block;
	}

	.nav-bottom li {
		display: inline-block;
	}

  .nav-bottom li:nth-child(even) {
    margin-left: .75rem;
    margin-right: .75rem;    
  }


/**	
  .title {
    float: left;
    text-align: left;
  }
  .title, 
  .nav {
    float: left;
  }
  .header {
    overflow: hidden;
  }
  .copyright {
    float: left;
  }
  .nav-footer {
    float: right;
  }
  **/
}


@media only screen and (min-width: 60em) /** large starting @960px **/{
	html {
 		font-size: 110%;
  }

  .nav-top {
    text-align: right;
    float: right;
  }

	.nav-bottom li {
		display: inline-block;
  }




 /** 
  .copyright {
    float: left;
  }
  .nav-footer {
    float: right;
  }

  dl {
    padding: 0;
    overflow: hidden;
  }
  dt {
    float: left;
    clear: left;
    width: 10rem;
  }
  dd {
    float: left;
    margin: 0;
    padding: 0;
  }
**/
}



@media only screen and (min-width: 90em) {
	html {
		font-size: 120%;
  	}
}

@media only screen and (min-width: 120em) {
  	html {
  		font-size: 130%;
  	}
}




