@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 Gill Sans,sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
	margin: 0;
	padding: 0;
}

/** SKIP LINKS **/

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
  background-color: #000;
  color: #fff;
  padding: 0.5em 0.75em;
  font-weight: bold;
}

.skip-links: focus {
  top:0;
}

.header {
	background-image: url(../imgs/skulls.png);
}

/** TOGGLE NAVIGATION **/
.nav-btn,
.nav-btn:link,
.nav-btn:visited {
	height: 50px;
    width: 50px;
	overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
	
	background: transparent url("../imgs/toggle.png") no-repeat;
	background-position: right;

	text-indent: 100%;
	white-space: nowrap; 
}

.nav-top {
	padding: 0;
	max-height: 0; /* makes the area invisible */
    background-color: #F6891F;
    clear: both; /* Comes after the content that floats above */
    overflow: hidden;

	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-webkit-transition: all 250ms linear;
	transition: all 250ms linear;
}

.nav-top[data-state="expanded"] {
	max-height: 15em;
}

.nav-top ul { 
	padding: 0;
    text-align: center;
    list-style-type: none;
}

.nav-top a,
.nav-top a:link,
.nav-top a:visited {
	display: block;
	font-size: 1.25em;
	font-weight: 400;
    padding: 1.5rem 0;
	color: white;
	text-decoration: none;
}

.nav-top a:hover {
	background-color: #EFB47F;
	overflow: hidden;
}

/** HEADER **/
.logo-top {
	width: 50px;
}

.billboard {
	width: 100%;
	height: 50%;
	background-image: url(../imgs/brad-simon.jpg);
	text-align: left;
	overflow: hidden;
}

/** MAIN **/
.headline {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.start-button {
	text-align: center;
}

.start-button button {
	background-color: white;
	border: .25em solid #F6891F;
	margin: 0;
	padding: 0;
}

.start-button a {
	margin: .75em;
	color: black;
	text-decoration: none;
}

.start-button a:hover {
	color: white;
}

.start-button button:hover {
	background-color: #EFB47F;
	overflow: hidden;
}

.feature-img {
	width: 100%;
}

/** FOOTER **/
.footer {
	background-color: #86BFAB;
	overflow: hidden;
}

.nav-bottom {
	float: left;
}

.nav-bottom ul {
	list-style-type: none;
}

.nav-bottom a {
	text-decoration: none;
	color: white;
}

.logo-bottom img {
	float: right;
	max-height: 50px;
	max-width: 50px;
}

/** MEDIA QUERIES **/
@media only screen and (min-width: 25em) /** small starting @400px **/ {



/**  .nav {
    text-align: center;
  }
  .nav li {
    display: inline;
  }
  .copyright {
    text-align: center;
  }
  .nav-footer {
    text-align: center;
  }
  .nav-footer li {
    display: inline;
  }
}
**/

@media only screen and (min-width: 38em) /** medium starting @ 608px **/{
	.nav-bottom {
		display: block;
	}

	.nav-bottom li {
		display: inline-block;
	}


/**	
  .title {
    float: left;
    text-align: left;
  }
  .title, 
  .nav {
    float: left;
  }
  .header {
    overflow: hidden;
  }
  .copyright {
    float: left;
  }
  .nav-footer {
    float: right;
  }
  **/
}


@media only screen and (min-width: 60em) /** large starting @960px **/{
	html {
 		font-size: 110%;
  	}

  	.nav-bottom li {
		display: inline-block;
	}




 /** 
  .copyright {
    float: left;
  }
  .nav-footer {
    float: right;
  }

  dl {
    padding: 0;
    overflow: hidden;
  }
  dt {
    float: left;
    clear: left;
    width: 10rem;
  }
  dd {
    float: left;
    margin: 0;
    padding: 0;
  }
**/
}



@media only screen and (min-width: 90em) {
	html {
		font-size: 120%;
  	}
}

@media only screen and (min-width: 120em) {
  	html {
  		font-size: 130%;
  	}
}




